:root {

    ---Header: #fff;
    ---Presentacion: #025839;
    ---Encabezados: #9E570C;
    ---Separadoras: #f0ac63;
    ---Body: #e3d6aa;
    ---Fotter: #454545;
    ---BtnReposo: #717171;
    ---BtnHover: #e3d6aa;
    ---BtnPresionado: #121212;
    ---Sombra: #033121;
    ---DarkModeFondo: #151515;
}


/* 1 rem = 10 px */
html {
    font-size: 62.5%;
}

/* GLOBALES */

/* Reseteo de espacios a los lados y hacia adentro de las cajas*/
* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

h1 {
    color: var(---Body)
}

h2 {
    color: var(---Body);
    font-size: 2.2rem;
}

h3 {
    color: var(---Presentacion);
    font-size: 2rem;
}

h4 {
    color: var(---Presentacion);
    font-size: 1.7rem;
}

h5 {
    color: var(---Presentacion);
    font-size: 1.5rem;
}

h6 {
    color: var(---Presentacion);
    font-size: 1.3rem;
}

p {
    color: var(---Presentacion);
    font-size: 1.1rem;
}

body {
    background-color: var(---Body);
}


.flexBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* HEADER */

header {
    background-color: var(---Header);
    height: 20vh;
    background-image: url(../img/header/header-01.png);
    background-position: center center;
    background-size: cover;
}



/* PRESENTACIÓN */

.presentacion {
    background-color: var(---Presentacion);
    box-shadow: 0px 2px 2px var(---Sombra);
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    align-items: center;
}

.presentacion h5 {
    color: #fff;
    display: flex;
    justify-content: center;

    padding-top: 1rem;
}

.BotonNoche button {
    min-width: 150px;
}

/* ENCABEZADOS */

.encabezados {
    background-color: var(---Encabezados);
    padding: .5rem 0rem .5rem 4rem;
}

.titulos {
    padding: .5rem 0rem .5rem 4rem;
}


/* INPUTS DE GASTOS  */

.icon_text{
    margin: 1rem;
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: center;

}

.flexInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5rem;

}

.iconoGrande {
    font-size: 40px;
    color: var(---Presentacion);
    height: 50px;
    padding-right: 1rem;
}

.quien,
.que,
.cuanto,
.agregar,
.estadoGastosParciales,
.gastosTotalesComprador {
    width: 25%;
    min-width: 250px;
    border-left: dashed var(---Separadoras) 2px;
}



/* PASO 01 */
/* Inputs y form */

.inputsDatos {
    display: flex;
    flex-wrap: wrap;
}

form input[type="text"],
#btnAgregrarGasto {
    height: 30px;
    cursor: pointer;
    width: 80%;
    border-style: none;
    text-align: center;

}

form input[type="text"]::placeholder {
    color: #4c4c4c;
}

form input[type="text"]:hover {
    box-shadow: 0 5px 5px #9e9e9e;
    background-color: #f5ca5d;
}

form input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(10, 23, 164, 0.259);
    text-align: center;
    background-color: #ffc32a;
    font-weight: 600;
}

#almacen {
    width: 100%;
    text-align: center;
}

#opcionesPredefinidas {
    width: 80%;
}


#btnAgregrarGasto {
    margin-bottom:2rem;
}
/* PASO 02 */
/* GASTOS PARCIALES Y TOTALES DE COMPRADORES */

.estadoGastosParciales,
.gastosTotalesComprador {
    width: 50%;
    min-width: 250px;
    border-left: dashed var(---Separadoras) 2px;
    padding: 1rem;
}




/* GASTOS PARCIALES DE COMPRADORES */

b {
    color: brown;
}

li {
    background-color: var(---Body);
}

.dosBotones {
    display: flex;
    justify-content: space-between;

}

#btnBorrarTODO {
    background-color: #c2c2c2;
}

#btnCalcularTotales {
    width: 80%
}

/* GASTOS TOTALES DE COMPRADORES */


/* PASO 03 */
.cantidadPersonas,
.totalGastadoJuntada,
.devolucionesCompradores {
    width: 33.3%;
    min-width: 250px;
    border-left: dashed var(---Separadoras) 2px;
    padding: 1rem;
}

/* CANTIDAD DE PERSONAS A DIVIDIR */

.formCargaCantidadPersonas {
    margin-top: 10px;
}

.input_boton_cantidadTotalDividir {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    align-items: center;

}


#idCantidadDePersonas {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
}


#btnCargarCantidadDePersonas {
    width: 80%;
}

/* DEVOLUCIONES DE GASTOS A COMPRADORES */

/* Footer */

footer {
    background-color: var(---Fotter);
    height: 8rem;
    text-align: center;
    padding: 1rem;
}

footer p {
    color: #fff;
}


/* BOTONES */

.botonEstilo {
    padding: 1em;
    border-radius: 5px;
    background-color: #8cd9f5;
    box-shadow: 0 5px 5px #9e9e9e;
    border-style: none;
}


/* Media Queries */

 @media (max-width: 1000px) {
 
    .quien,
    .que,
    .cuanto,
    .agregar,
    .estadoGastosParciales,
    .gastosTotalesComprador,    .estadoGastosParciales,
    .gastosTotalesComprador,.cantidadPersonas,
    .totalGastadoJuntada,
    .devolucionesCompradores  {
        width: 50%;
    }



    

    .iconoGrande {
        font-size: 30px;
        color: var(---Presentacion);
        height: 40px;
        padding-right: 1rem;
    }


    
} 

@media (max-width: 500px) {

    .quien,
    .que,
    .cuanto,
    .agregar,
    .estadoGastosParciales,
    .gastosTotalesComprador,    .estadoGastosParciales,
    .gastosTotalesComprador,.cantidadPersonas,
    .totalGastadoJuntada,
    .devolucionesCompradores  {
        width: 100%;
    }

    

    .encabezados {
        background-color: var(---Encabezados);
        padding: .5rem .5rem .5rem .5rem;
    }

    .icon_text{
        margin-top: 1rem;
    }

    .presentacion{
        display: flex;
        flex-direction: column;

        h5{
            text-align: center;
            line-height: 2rem ;
            
        }
    }
        

} 




/* MODO OSCURO */

.darkmode header {
    background-color: var(---DarkModeFondo);
}

.darkmode .encabezados {
    background-color: var(---DarkModeFondo);
}

.darkmode .estadoGastosParciales {
    background-color: var(---DarkModeFondo);
}

.darkmode .columnaTotales {
    background-color: var(---DarkModeFondo);
}

.darkmode .gastosTotalesJuntada {
    background-color: var(---DarkModeFondo);
}

.darkmode .cantidadPersonas {
    background-color: var(---DarkModeFondo);
}

.darkmode .gastosTotalesComprador {
    background-color: var(---DarkModeFondo);
}

.darkmode .estadoGastosParciales {
    background-color: var(---DarkModeFondo);
}

.darkmode footer {
    background-color: #a7a7a7;
}

.darkmode .inputs {
    background-color: var(---DarkModeFondo);
}

.darkmode .devolucionGastos {
    background-color: var(---DarkModeFondo);
}

.darkmode h1 {
    color: var(---Body);
}

.darkmode h2 {
    color: var(---Body);
}

.darkmode h3 {
    color: var(---Body);
}

.darkmode h4 {
    color: var(---Body);
}

.darkmode h5 {
    color: var(---Body);
}

.darkmode h6 {
    color: var(---Body);
}

.darkmode p {
    color: #000;
}

.darkmode li {
    background-color: rgb(17, 53, 161);
}

.darkmode b {
    color: rgb(255, 84, 232);
}

.darkmode .iconoGrande {
    color: #8cd9f5;
}