:root{
    ---Body: #fff;
    ---Header: color: rgba(86, 151, 140, 1);
    ---Presentacion: #1abc2d;

    ---Encabezados: #bb7428;

    ---IngresoGastos: #544cbf;

    ---GastosParcialesYTotales: #123512;



    ---ListaHorizontal: #324134;

    ---DevolucionGasto: #a15c9d;
    ---Fotter: #55b032;

    
    ---DarkModeFondo: #000;

    ---BtnReposo: #717171;
    ---BtnHover: #c39d9d;
    ---BtnPresionado: #121212;

    ---Sombra: #04176f;

    
    

}

/* Color Theme Swatches in RGBA */
.Ice-cream-parlour-1-rgba { color: rgba(240, 195, 100, 1); }
.Ice-cream-parlour-2-rgba { color: rgba(189, 172, 136, 1); }
.Ice-cream-parlour-3-rgba { color: rgba(138, 124, 113, 1); }
.Ice-cream-parlour-4-rgba { color: rgba(86, 151, 140, 1); }
.Ice-cream-parlour-5-rgba { color: rgba(136, 189, 165, 1); }




/* 1 rem = 10 px */
html {
    font-size: 62.5%;
}

/* GLOBALES */

/* Reseteo de espacios a los lados y hacia adentro de las cajas*/
*{
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}


h2{
    color: #000;
}



h1,

h3{
    font-family: 'Barlow', sans-serif;
    color: aliceblue;
}
p{
    font-family: 'Barlow', sans-serif;
    color: aliceblue;
}


/* ////////////////////////// */
body{
    background-color: var(---Body);
}

main {
    display: flex;
    flex-direction: column;
}

/* Header */

header {
    background-color: var(---Header);
    text-align: center;
    height: 8rem;
    display: flex;

}

.headerText {
    align-content: center;
    align-self: center;
    width: 100%;
}


/* PRESENTACIÓN */

.presentacion{ 
background-color: var(---Presentacion);
box-shadow: 0px 4px 5px var(---Sombra);
z-index: 1;
height: 20px;
}

/* button{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
align-items: center;
} */


/* ENCABEZADOS */

.encabezados{
    background-color:var(---Encabezados);
}

#btnAgregrarGasto{
    margin-top: 30px;
    height: 20px;
    background-color: var(---BtnReposo);
    }

/* INPUTS DE GASTOS  */
.flexo{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin: 0px;
}

.iconoChico{
    font-size: 50px;
    color: darkmagenta;
    background-color: aqua;
    padding: 5px;
    height: 54px;
}
/* .ingresoGastos {
    border: 4px solid rgb(91, 16, 166);
    display: flex;
} */

.inputs {
    background-color:var(---IngresoGastos);
    /* display: flex;
    flex-wrap: wrap;

    width: 100%; */

}

form{
    display: flex;
}
/* .inputs input {
    min-width: 5em;
} */

/* .form-input{
    height: 20px;
background-color: aquamarine; } */


form input[type="text"], #btnAgregrarGasto{
    background-color: var(---BtnReposo);
    height: 20px;
    cursor: pointer;
    width: 80%;
    border-style: none;
    text-align: center;

}


form input[type="text"]::placeholder{
    color: #000;
    outline: none;

}

form input[type="text"]:hover {

    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    background-color:var(---BtnHover);
        }
    


form input[type="text"]:focus{
outline: none;
box-shadow: 0 0 10px rgba(10, 23, 164, 0.259);
text-align: center;
background-color: var(---BtnHover);

    }

#btnAgregrarGasto:active{
    background-color: var(---BtnHover);
}
/* form input[type="text"]{
    background-color: red;
    height: 30px;
} */


.IdBotonModoOscuro{
    display: flex;
height: 100%;
border-radius: 15px;
align-self: stretch;


}


/* .botonera{
    background-color: rgb(145, 180, 146);
    border: 4px solid rgb(0, 161, 48);
    display: flex;
    flex-wrap: wrap;

}

.imgBotones{
    width: 50px;
} */
/* .cardBotonera{
    background-color: rgb(68, 41, 9);
    border: 4px solid rgb(161, 0, 78);
    width: 80px;
    height:90px;
    text-align: center;
    margin: 5px;
} */

#almacen{
    width: 100%;
text-align: center;
}
#hola01{
    width: 80%;
}
/* GASTOS PARCIALES Y TOTALES DE COMPRADORES */

.procesoDeGastos {
    background-color: var(---ProcesoGatos);

    display: flex;
}

/* GASTOS PARCIALES DE COMPRADORES */

.estadoGastosParciales {
    background-color:var(---GastosParcialesYTotales);
    /* width: 50%; */
}

.listadoHorizotalGastosParciales{
    background-color:var(---ListaHorizontal);
    display: flex;
    justify-content: space-between;
    width: 90%;
    
}

ol {
    color: rgb(2, 2, 46);
    padding-left: 2em;
}
b{
    color: brown;
}


/* .ol{
    background-color:deeppink;
} */


/* .icono {
    font-size: 25px;
    color: darkmagenta;
    background-color: aqua;
    padding: 5px;
} */


/* GASTOS TOTALES DE COMPRADORES */

.gastosTotalesComprador {
    background-color:var(---GastosParcialesYTotales);
    /* flex: 1; */
}


/* .columnaTotales {
    background-color: rgb(101, 185, 137);
    border: 2px solid blue;
    width: 50%;
    display: flex;
    flex-direction: column;
} */



.formCargaCantidadPersonas {

    height: 80px;
}

.gastosTotalesJuntada {
    background-color: rgb(166, 51, 219);

}

#idCantidadDePersonas{
    width: 100%;
}
/* DEVOLUCIONES DE GASTOS A COMPRADORES */

.devolucionGastos {
    background-color: var(---DevolucionGasto);
}


/* Footer */

footer {
    background-color: var(---Fotter);
    display: flex;
    height: 8rem;
}

.footerText {

    align-self: center;
    width: 100%;
}

/* BOTONES */

.boton {
    padding: 2em;
}

a {
    text-decoration: none;
    border: 4px solid rgb(0, 0, 0);
    padding: 0.5em;
    border-radius: 0.5em;
    color: aliceblue;
    background-color: rgb(27, 34, 42);
    margin: 20px;
}

a:hover {
    background-color: var(---DarkModeFondo);
}


