:root{
    ---colorBody: rgb(108, 45, 45);
    ---colorHeader: color: rgba(86, 151, 140, 1);
    ---colorPresentacion: #1abc2d;
    ---colorIngresoGastos: #544cbf;
    ---colorProcesoGatos: #bb7428;
    ---colorGastoPracialesComprador: #123512;
    ---colorGastosTotalesComprador: #413115;
    ---colorListaHorizontal: #324134;
    ---colorGastoTotalJuntada: #453252;
    ---colorDevolucionGasto: #943c8e;
    ---colorFotter: #55b032;
    ---colorDarkModeFondo: #000;
    
    

}

/* Color Theme Swatches in RGBA */
.Ice-cream-parlour-1-rgba { color: rgba(240, 195, 100, 1); }
.Ice-cream-parlour-2-rgba { color: rgba(189, 172, 136, 1); }
.Ice-cream-parlour-3-rgba { color: rgba(138, 124, 113, 1); }
.Ice-cream-parlour-4-rgba { color: rgba(86, 151, 140, 1); }
.Ice-cream-parlour-5-rgba { color: rgba(136, 189, 165, 1); }




/* 1 rem = 10 px */
html {
    font-size: 62.5%;
}

/* GLOBALES */

/* Reseteo de espacios a los lados y hacia adentro de las cajas*/
*{
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}


h1,
h2,
h3{
    font-family: 'Barlow', sans-serif;
    color: aliceblue;
}
p{
    font-family: 'Barlow', sans-serif;
    color: aliceblue;
}

body{
    background-color: var(---colorBody);
}

main {
    display: flex;
    flex-direction: column;
}

/* Header */

header {
    background-color: var(---colorHeader);
    text-align: center;
    height: 8rem;
    display: flex;

}

.headerText {
    align-content: center;
    align-self: center;
    width: 100%;
}
/* PRESENTACIÓN */

.presentacion{ 
background-color: var(---colorPresentacion);
}

button{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
align-items: center;

}

/* INPUTS DE GASTOS  */
.flexo{
    display: flex;
    flex-direction: column;
    align-items: center;






}

.iconoChico{
    font-size: 50px;
    color: darkmagenta;
    background-color: aqua;
    padding: 5px;
}
/* .ingresoGastos {
    border: 4px solid rgb(91, 16, 166);
    display: flex;
} */

.inputs {
    background-color:var(---colorIngresoGastos);
    /* display: flex;
    flex-wrap: wrap;

    width: 100%; */

}

form{
    display: flex;
}
/* .inputs input {
    min-width: 5em;
} */

.form-input{
    height: 20px;
background-color: aquamarine;

}
form{

}


form input[type="text"]{
    background-color: rgb(148, 148, 148);
    height: 20px;
    cursor: pointer;
    width: 80%;
    border-radius: 5px;
    border-style: none;
 
    
}


form input[type="text"]::placeholder{
    text-align: center;
    color: #000;


}

form input[type="text"]:focus{
outline: none;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

    }

/* form input[type="text"]{
    background-color: red;
    height: 30px;
} */



/* .botonera{
    background-color: rgb(145, 180, 146);
    border: 4px solid rgb(0, 161, 48);
    display: flex;
    flex-wrap: wrap;

}

.imgBotones{
    width: 50px;
} */
/* .cardBotonera{
    background-color: rgb(68, 41, 9);
    border: 4px solid rgb(161, 0, 78);
    width: 80px;
    height:90px;
    text-align: center;
    margin: 5px;
} */


/* GASTOS PARCIALES Y TOTALES DE COMPRADORES */

.procesoDeGastos {
    background-color: var(---colorProcesoGatos);

    display: flex;
}

/* GASTOS PARCIALES DE COMPRADORES */

.estadoGastosParciales {
    background-color: var(---colorGastoPracialesComprador);
    width: 50%;
}

ol {
    color: rgb(2, 2, 46);
    padding-left: 2em;
}
b{
    color: brown;
}
/* .ol{
    background-color:deeppink;
} */

.listadoHorizotalGastosParciales{
    background-color:var(---colorListaHorizontal);
    display: flex;
    justify-content: space-between;
    width: 90%;
    
}
/* .icono {
    font-size: 25px;
    color: darkmagenta;
    background-color: aqua;
    padding: 5px;
} */


/* GASTOS TOTALES DE COMPRADORES */

.gastosTotalesComprador {
    background-color:var(---colorGastosTotalesComprador);
    flex: 1;
}


/* .columnaTotales {
    background-color: rgb(101, 185, 137);
    border: 2px solid blue;
    width: 50%;
    display: flex;
    flex-direction: column;
} */



.formCargaCantidadPersonas {

    height: 80px;
}

.gastosTotalesJuntada {
    background-color: rgb(166, 51, 219);
    height: 150px;
}

/* DEVOLUCIONES DE GASTOS A COMPRADORES */

.devolucionGastos {
    background-color: var(---colorDevolucionGasto);
    height: 150px;
}


/* Footer */

footer {
    background-color: var(---colorFotter);
    display: flex;
    height: 8rem;
}

.footerText {

    align-self: center;
    width: 100%;
}

/* BOTONES */

.boton {
    padding: 2em;
}

a {
    text-decoration: none;
    border: 4px solid rgb(0, 0, 0);
    padding: 0.5em;
    border-radius: 0.5em;
    color: aliceblue;
    background-color: rgb(27, 34, 42);
    margin: 20px;
}

a:hover {
    background-color: var(---colorDarkModeFondo);
}

/* MODO OSCURO */

.darkmode {
    background-color: var(---colorDarkModeFondo);;
}

.darkmode header {
    background-color: var(---colorDarkModeFondo);;
}

.darkmode .estadoGastosParciales{
    background-color: var(---colorDarkModeFondo);;
}

.darkmode .columnaTotales{
    background-color: var(---colorDarkModeFondo);;
}

.darkmode .gastosTotalesJuntada{
    background-color: var(---colorDarkModeFondo);;
}

.darkmode .cantidadPersonas{
    background-color: var(---colorDarkModeFondo);;
}

.darkmode .gastosTotalesComprador{
    background-color: var(---colorDarkModeFondo);;
}

.darkmode .estadoGastosParciales{
    background-color: var(---colorDarkModeFondo);;
}

.darkmode footer {
    background-color: var(---colorDarkModeFondo);;
}

.darkmode .inputs{
    background-color: var(---colorDarkModeFondo);;
}

.darkmode .devolucionGastos{
    background-color: var(---colorDarkModeFondo);;
}

.darkmode
h1,
h2,
h3{
    font-family: 'Barlow', sans-serif;
    color: aliceblue;
}

.darkmode,
p{
    font-family: 'Barlow', sans-serif;
    color: aliceblue;
}


.darkmode li{
    font-family: 'Barlow', sans-serif;
    color: aliceblue;
}

